#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    cursor: default;
    user-select: none;
}

input {
    font-size: 1em;
    padding: 0.6em 1em;
    border-radius: 10px;
    border: 1px solid darkgray;
}

.speaker {
    cursor: pointer;
    position: absolute;
    right: 7px;
    top: 7px;
}

.card {
    padding: 2em;
}

button {
    margin: 2px 8px;
}

button[type="submit"]:hover {
    background-color: #646cff;
    transition: all 0.01s ease-in;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #09f;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.flex {
    display: flex;
}

.w-150 {
    width: 150px;
}

.flex.flex-row {
    flex-direction: row;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.flex-column {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-radius: 10px;
    top: 0;
}

.tooltiptext {
    font-size: 12px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #121212;
    border: 1px blueviolet solid;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 2px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    margin-top: 5px;
}

.tooltip:hover .tooltiptext.show {
    visibility: visible;
}

.word {
    position: relative;
    font-size: 2em;
    border-radius: 10px;
    user-select: none;
}

.more-details {
    display: inline-block;
}

.tooltip-container:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

.bubble {
    position: relative;
    border-radius: 10px;
    padding: 1rem 20px;
    margin: 8px 10px;
}

.dropZone.add {
    position: fixed;
    bottom: 1%;
    right: 1%;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.dropZone.remove {
    position: fixed;
    bottom: 10%;
    right: 1%;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.token-list {
    padding: 20px;
}

.tokens {
    position: fixed;
    display: flex;
    right: -30%;
    top: 0;
    height: 100vh;
    width: 40%;
    transition: right 0.6s ease-in;
}

.tokens.hovered {
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 50%,
        rgba(0, 0, 0, 0.6) 70%,
        rgba(0, 0, 0, 0.7) 100%
    );
}

.tokens.hovered .arrow.button {
    background: gray;
    animation: bounceBackAndForth 0.9s ease infinite;
}

.tokens .arrow.button {
    transition: scale 2s linear;
}

.tokens.shown .arrow.button {
    transform: scale(0.9);
    animation: none;
    background: gray;
    z-index: 100;
}

@keyframes bounceBackAndForth {
    0% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(5px);
    }
}

.center.arrow {
    position: relative;
    right: calc(25% - 5px);
    align-self: center;
    width: 25%;
}

.flex .arrow.button {
    display: flex;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin: auto;
}

.arrow.button > * {
    margin: auto;
}

.tokens.shown {
    right: 0;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 25%,
        rgba(0, 0, 0, 0.6) 70%,
        rgba(0, 0, 0, 0.7) 100%
    );
}

@media (prefers-color-scheme: dark) {
    .dropZone.add {
        background-color: red;
        color: white;
    }

    .dropZone.remove {
        background-color: red;
        color: white;
    }

    .more-details {
        background-color: #121212;
        border: 2px #121212 solid;
    }

    .more-details:hover {
        border: 2px blueviolet solid;
        scale: 1.2;
        z-index: 2;
        transition: all 0.15s;
    }

    .bubble {
        background-color: #121212;
    }
}
